@model List<PortfolyoSitesi.Data.Category>

@{
	Layout = null;
}

<section id="portfolio">
	<div class="container">
		<div class="row mb-8">
			<div class="col-lg-10 col-xl-8 mx-lg-auto text-center">
				<div class="section-title h2 mb-3">
					<h2 class="mb-0">Portfolio</h2>
					<span class="title-letter">P</span>
				</div>
				<nav class="portfolio-filter isotope-filter">
					<ul class="justify-content-center">
						<li><a href="#" class="active" data-filter="*">All</a></li>
						<li><a href="#" data-filter=".web">Web</a></li>
						<li><a href="#" data-filter=".brand">Brand</a></li>
						<li><a href="#" data-filter=".design">Design</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
