@model List<PortfolyoSitesi.Data.Category>

@{
	Layout = null;
}

<section id="projects">
    <div class="section-title">
        <h2>Portfolyom</h2>
        <div class="underline"></div>
        <p>Yakın zamanda yaptığım çalışmalardan bazılarına göz atın</p>
    </div>

    <div class="projects-filter isotope-filter">
        <ul>
            <li>
                <a href="#" class="active" data-filter="*">Hepsi</a>
            </li>

            @foreach (var item in Model)
            {
                <li>
                    <a href="#" data-filter=".filter-@item.CategoryName.Replace(" ", "-")">
                        @item.CategoryName
                    </a>
                </li>
            }
        </ul>
    </div>
