
@{
    Layout = null;
}

<section id="news" class="pb-0">
	<div class="container">
		<div class="section-title h2 text-center mb-8">
			<h2 class="mb-0">Latest News</h2>
			<span class="title-letter">L</span>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-4 mb-4 mb-md-0">
				<article class="news-block border-0">
					<div class="news-body p-0">
						<div class="mb-4">
							<img class="img-fluid w-100 rounded" src="demo/images/blog/blog-1.jpg" alt="">
						</div>
						<small class="d-block mb-1">May 27, 2019</small>
						<h2 class="h4 mb-1">
							<a href="single-article.html">Building an enduring online audience</a>
						</h2>
						<p>Quisque ultrices non velit sit amet consectetur. Cras turpis dolor, facilisis a nibh non, ullamcorper facilisis mauris. Nulla rutrum arcu.</p>
					</div>
				</article>
			</div>

			<div class="col-sm-6 col-md-4 mb-4 mb-md-0">
				<article class="news-block border-0">
					<div class="news-body p-0">
						<div class="mb-4">
							<img class="img-fluid w-100 rounded" src="demo/images/blog/blog-2.jpg" alt="">
						</div>
						<small class="d-block mb-1">May 20, 2019</small>
						<h2 class="h4 mb-1">
							<a href="single-article.html">Building a site for your small business</a>
						</h2>
						<p>Quisque ultrices non velit sit amet consectetur. Cras turpis dolor, facilisis a nibh non, ullamcorper facilisis mauris. Nulla rutrum arcu.</p>
					</div>
				</article>
			</div>

			<div class="col-sm-6 col-md-4">
				<article class="news-block border-0">
					<div class="news-body p-0">
						<div class="mb-4">
							<img class="img-fluid w-100 rounded" src="demo/images/blog/blog-3.jpg" alt="">
						</div>
						<small class="d-block mb-1">May 13, 2019</small>
						<h2 class="h4 mb-1">
							<a href="single-article.html">A day in the life of a fitness blogger</a>
						</h2>
						<p>Quisque ultrices non velit sit amet consectetur. Cras turpis dolor, facilisis a nibh non, ullamcorper facilisis mauris. Nulla rutrum arcu.</p>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>