
@{
    ViewData["Title"] = "CreateSkill";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Add New Skill</h1>

<form method="post">

    <label>Skill Name</label>
    <input type="text" class="form-control" name="SkillName" />

    <label>Skill Percentage</label>
    <input type="text" class="form-control" name="SkillPercentage" />

    <br />

    <button type="submit" class="btn btn-success">Add</button>

</form>