
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koray Şimşek</title>
	
	<!-- Base CSS -->
	<link rel="stylesheet" href="~/html/assets/vendor/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/html/assets/css/style.css">
	<link rel="stylesheet" href="~/html/assets/css/utilities.css">
	<link rel="stylesheet" href="~/html/assets/css/custom.css">

	<!-- Libs CSS -->
	<link rel="stylesheet" href="~/html/assets/vendor/slick/slick.min.css" type="text/css">
	<link rel="stylesheet" href="~/html/assets/vendor/vegas/vegas.min.css" type="text/css">
	<link rel="stylesheet" href="~/html/assets/vendor/featherlight/featherlight.min.css" type="text/css">
	<link rel="stylesheet" href="~/html/assets/vendor/featherlight/featherlight.gallery.min.css" type="text/css">
	<link rel="stylesheet" href="~/html/assets/vendor/fontawesome/css/all.min.css" type="text/css">
	<link rel="stylesheet" href="~/html/assets/vendor/themify-icons/css/themify-icons.css" type="text/css">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav>
        <div class="nav-container">
            <div class="logo">
                <span>Koray</span><span>Şimşek</span>
            </div>
            <ul class="nav-links">
                <li><a href="#home" class="active">Ana Sayfa</a></li>
                <li><a href="#about">Hakkımda</a></li>
                <li><a href="#skills">Yetenekler</a></li>
                <li><a href="#experience">Deneyim</a></li>
                <li><a href="#services">Hizmetler</a></li>
                <li><a href="#projects">Projeler</a></li>
                <li><a href="#testimonials">Referanslar</a></li>
                <li><a href="#contact">İletişim</a></li>
            </ul>
        </div>
    </nav>

    <!-- Slider/Hero Section -->
    

    <!-- About Section -->
    

    <!-- Skills Section -->
    

    <!-- Experience Section -->
    

    <!-- Services Section -->
    

    <!-- Projects Section -->
    @RenderBody()

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 CodeByJean. Tüm hakları saklıdır.</p>
    </footer>

	<!-- Libs JS -->
	<script src="~/html/assets/vendor/jquery/dist/jquery.min.js"></script>
	<script src="~/html/assets/vendor/popper.js/dist/popper.min.js"></script>
	<script src="~/html/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="~/html/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
	<script src="~/html/assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/html/assets/vendor/jquery-form/dist/jquery.form.min.js"></script>
	<script src="~/html/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
	<script src="~/html/assets/vendor/isotope/dist/isotope.pkgd.min.js"></script>
	<script src="~/html/assets/vendor/featherlight/featherlight.min.js"></script>
	<script src="~/html/assets/vendor/featherlight/featherlight.gallery.min.js"></script>
	<script src="~/html/assets/vendor/slick/slick.min.js"></script>
	<script src="~/html/assets/vendor/vegas/vegas.min.js"></script>
	<script src="~/html/assets/vendor/granim.js/dist/granim.min.js"></script>
	<script src="~/html/assets/vendor/typed.js/lib/typed.min.js"></script>

	<!-- Main JS -->
	<script src="~/html/assets/js/main.js"></script>
</body>
</html>
